<form>
    <div class="mb-3">
        <label for="beer-name" class="form-label">Name</label>
        <input type="text" class="form-control" name="beer-name" id="beer-name" placeholder="name" [(ngModel)]="beer.name" />
    </div>
    <div class="mb-3">
        <label for="beer-type" class="form-label">Type</label>
        <input type="text" class="form-control" name="beer-type" id="beer-type" placeholder="type" [(ngModel)]="beer.type">
    </div>
    <div class="mb-3">
        <label for="beer-brewery" class="form-label">Brewery</label>
        <input type="text" class="form-control" name="beer-brewery" id="beer-brewery" placeholder="brewery" [(ngModel)]="beer.brewery">
    </div>
    <div class="mb-3">
        <label for="beer-country" class="form-label">Country</label>
        <input type="text" class="form-control" name="beer-country" id="beer-country" placeholder="country" [(ngModel)]="beer.country">
    </div>
    <div class="mb-3">
        <label for="beer-abv" class="form-label">Alcohol by Volume (ABV)</label>
        <input type="number" class="form-control" name="beer-abv" id="cocktail-abv" placeholder="ABV in decimal. e.g. 0.09" [(ngModel)]="beer.abv">
    </div>
    <div class="mb-3">
        <label for="beer-description" class="form-label">Description</label>
        <textarea class="form-control" name="beer-description" id="beer-description" rows="3" [(ngModel)]="beer.description"></textarea>
    </div>
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-outline-pine" role="button" (click)="submitBeer()">Submit</button>
        <button type="button" class="btn btn-outline-secondary" role="button">Cancel</button>
    </div>
</form>