@import '../../../theme-colors.scss';

footer {
    position: fixed;
    bottom: 0pt;
    width: 100%;
    background-color: #FFF9;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background-blend-mode: multiply;    
}

.nav {
    max-width: 75%;
    margin: auto;
}

.nav > a {
    padding: 10pt;
    margin: 10pt;
}

.active {
    color: $primary;
}