<footer class="">
    <nav class="d-flex justify-content-center nav">
        <a class="btn btn-sm" [routerLink]="['/cocktails']" routerLinkActive="active text-pine">Cocktails</a>
        <a class="btn btn-sm" [routerLink]="['/wine']" routerLinkActive="active text-burgundy">Wine</a>
        <a class="btn btn-sm" [routerLink]="['/whiskey']" routerLinkActive="active text-hazelnut">Whiskey</a>
        <a class="btn btn-sm" [routerLink]="['/beer']" routerLinkActive="active text-yellow">Beer</a>
    </nav>
</footer>
